%h2 SYNOPSYS

%h2 DEMO
- if env['warden'].authenticated?
  %p You're already logged-in as #{env['warden'].user.user_name}
  %ul
    %li User: #{env['warden'].user.user_name}
    %li Mail Addr: #{env['warden'].user.mail_addr}
    %li SessionIndex: #{session[:session_index]}
  %a.btn.btn-danger{:href => "/logout"} Logout
- else
  %p You're not logged-in.
  %a.btn.btn-success{:href => "/login"} Login
  %a.btn.btn-info{:href => "/signup"} Create Account
