%h1 Authentication is failed..
%br
%a.btn.btn-success{:href => '/'} Back to index.
%br
%br
%iframe{:width => "800", :height => "600", :src => "http://www.youtube.com/embed/S8RIZNDzPM8?autoplay=1&loop=1", :frameborder => "0"}
